body{
    background-color: black;
}
section{
    font: normal 16pt Arial;
    text-align: center;
    background: rgb(89, 0, 231);
    border-radius: 15px;
    padding: 15px;
    width: 600px;
    height: 440px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
    margin:auto;      
}